/* Error404 */
.error404 {
    margin-top: 30px;
    margin-bottom: 80px;
}

.error404 div {
    justify-items: center;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

.error404 img {
    display: block;
    margin: auto;
    width: 60%;
}

.error404 h1 {
    margin: 0px;
}

.error404 p {
    margin: 0px;
}

/* Search Bar */
.mob {
    display: none;
}

input[type=text] {
    border-radius: 20px;
    padding: 15px auto;
    width: 500px;
    background-color: var(--light);
}

.searchbar {
    display: flex;
    margin: 80px auto;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

/* Best Of The Month */
.bestofmonth {
    margin: 80px auto;
}

.bestofmonth h1 {
    text-align: center;
    color: var(--primary-red);
}

/* Popular Tracks */
.popular {
    margin: 80px auto;
}

.popular h1 {
    color: var(--primary-red);
    text-align: center;
}

.column {
    display: none;
}

.row {
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
    justify-content: space-between;
}

.row img {
    border-radius: 20px;
    align-items: end;
    width: 120px;
}

.cover {
    align-self: baseline;
}

.artistsingles {
    margin: 0px;
}

.artistsingles h3 {
    margin: 0px;
}

.artistsingles p {
    margin: 0px;
}

.tracks1 {
    display: flex;
    border-radius: 20px;
    color: var(--light);
    background-color: var(--dark);
    padding: 20px;
    gap: 20px;
    align-items: end;
    width: 100%;
}

.tracks2 {
    display: flex;
    border-radius: 20px;
    color: var(--light);
    background-color: var(--primary-red);
    padding: 20px;
    gap: 20px;
    align-items: end;
    width: 100%;
}

.row {
    animation: row 1s ease-out both;
    animation-timeline: view();
    animation-range: entry 20% cover 30%;
}

.row:nth-child(2) {
    animation-delay: 0.5s;
}

.row:nth-child(3) {
    animation-delay: 1s;
}

@keyframes row {
    0% {
        opacity: 0;
        filter: blur(5px);
        transform: translateY(80px);
    }

    30% {
        filter: blur(0px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Homepage Button */
.backhome {
    justify-content: space-around;
    text-align: center;
    margin: 80px auto;
}

.backhome a {
    background-color: var(--dark);
    color: var(--light);
    font-size: 20px;
    border-radius: 20px;
    padding: 10px 30px;
}

/* Small Desktop Display */
@media (max-width: 1180px) {

    /* Best of The Month */
    /* .album img {
        width: 100%;
    }

    .albumvinyl {
        gap: 40px;
    } */
}

/* Tablet Display */
@media (max-width: 990px) {

    /* Error404 */
    .error404 img {
        width: 80%;
    }
}

/* Mobile Display */
@media (max-width: 768px) {

    /* Error404 */
    .error404 {
        margin-top: 20px;
        margin-bottom: 40px;
    }

    .error404 img {
        width: 80%;
    }

    /* Search Bar */
    .desk {
        display: none;
    }

    .mob {
        display: flex;
    }

    .searchbar {
        margin: 60px 30px;
        gap: 10px;
    }

    input[type=text] {
        width: 200px;
    }

    /* Popular Tracks */
    .popular {
        margin: 60px auto;
    }

    .popular h1 {
        margin: 30px auto;
    }

    .row {
        display: none;
    }

    .column {
        display: grid;
        gap: 20px;
    }

    .column img {
        border-radius: 20px;
        width: 80px;
    }

    .mtracks1 {
        display: flex;
        color: var(--light);
        background-color: var(--dark);
        border-radius: 20px;
        padding: 15px;
        gap: 15px;
        align-items: end;
    }

    .mtracks2 {
        display: flex;
        color: var(--light);
        background-color: var(--primary-red);
        border-radius: 20px;
        padding: 15px;
        gap: 15px;
        align-items: end;
    }

    .mtracks1,
    .mtracks2 {
        animation: track 1s ease-out both;
        animation-timeline: view();
        animation-range: entry 20% cover 30%;
    }

    @keyframes track {
        0% {
            opacity: 0;
            filter: blur(5px);
            transform: translateY(80px);
        }

        30% {
            filter: blur(0px);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .martistsingles h3 {
        margin: 0px;
    }

    .martistsingles p {
        margin: 0px;
    }

    /* Homepage Button */
    .backhome {
        margin: 60px auto;
    }

    .backhome a {
        font-size: 18px;
    }
}