/* Banner */
.banner {
    background-image: url("../image/blog-banner.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
}

/* Content */
.content img {
    border-radius: 20px;
}

.headline h2 {
    margin: 0px;
    color: var(--primary-red);
}

.headline h1 {
    margin-top: 0px;
}

.credit {
    display: flex;
    justify-content: space-between;
}

.maincontent {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 80px;
}

/* Left Column */

/* Related */
.related h2 {
    color: var(--primary-red);
    margin-top: 60px;
    margin-bottom: 10px;
}

.fnews {
    color: var(--light);
}

.fullwidth-box.red {
    margin: 20px auto;
}

.readmore {
    margin-top: auto;
}

.readmore1 {
    margin-top: auto;
}

.readmore1 .btn-light:hover {
    background-color: var(--dark);
    color: var(--light);
}

.newscover img {
    background-size: cover;
    background-position: center;
    display: flex;
    width: 100%;
}

/* Animation */
.fullwidth-box {
    animation: reveal 1s ease-out both;
    animation-timeline: view();
    animation-range: entry 20% cover 30%;
}

@keyframes reveal {
    0% {
        opacity: 0;
        filter: blur(5px);
        transform: translateY(80px);
    }

    30% {
        filter: blur(0px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Comments */
.comments {
    margin-top: 80px;
}

.comments h2 {
    color: var(--primary-red);
    margin-bottom: 10px;
}

.cmt-box {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.submit {
    margin-top: 10px;
}

/* Animation */
.comments {
    animation: textbox 1s ease-out both;
    animation-timeline: view();
    animation-range: entry 20% cover 30%;
}

@keyframes textbox {
    0% {
        opacity: 0;
        filter: blur(5px);
        transform: translateY(80px);
    }

    30% {
        filter: blur(0px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Pop-Up Modal */
.modal-container {
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    opacity: 0;
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    transition: 0.3s ease;
}

.modal-container.show {
    pointer-events: auto;
    opacity: 1;
}

.modal {
    background-color: #fff;
    padding: 20px 50px;
    border-radius: 20px;
    text-align: center;
}

/* Editors Pick */
.picks {
    margin-top: 80px;
}

.picks h2 {
    color: var(--primary-red);
    margin-bottom: 10px;
}

.editor {
    display: flex;
    justify-content: space-between;
}

.peaks h3 {
    margin: 0px;
}

.knowmore {
    margin-top: 20px;
    text-align: end;
}

/* Sidebar */
.sidebar h2 {
    color: var(--primary-red);
    margin-top: 0px;
    margin-bottom: 10px;
}

.sidebar {
    align-items: center;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

.sidebar img {
    max-width: 100%;
}

.trending {
    margin-top: 60px;
}

.album-c img {
    animation: rotate 90s infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

.trending h2 {
    margin-bottom: 10px;
}

.vinyl div {
    margin-bottom: 40px;
}

.album-c .desc {
    color: var(--primary-red);
}

@media (max-width: 1180px) {}

@media (max-width: 990px) {
    .maincontent {
        grid-template-columns: 2fr 1fr;
        gap: 20px;
    }

    .fullwidth-box.dark {
        display: block;
    }

}

@media (max-width: 768px) {
    .headline {
        margin-bottom: 40px;
    }

    .maincontent {
        margin: 0 auto;
        display: block;
        /* grid-template-columns: 4fr 1fr;
        gap: 80px;*/
    }

    /* Left Column */
    /* Related */
    .related h2 {
        margin-top: 40px;
    }

    .fullwidth-box.red {
        display: block;
    }

    /* Comments */
    .comments {
        margin-top: 40px;
    }

    /* Editors Pick */
    .picks {
        margin: 40px auto;
    }

    /* Sidebar */
    .sidebar h2 {
        text-align: left;
    }

    .author-info {
        display: flex;
        gap: 20px;
    }

    .author img {
        height: 100px;
        display: flex;
        background-size: cover;
        background-position: center;
    }

    .author .desc {
        text-align: start;
        margin-top: auto;
    }

    .trending {
        margin-top: 40px;
    }

    .trending h2 {
        margin-bottom: 10px;
    }

    .vinyl div {
        margin-bottom: 40px;
    }

    .album-c .desc {
        color: var(--primary-red);
    }
}