/* 字体 */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* header and footer */
body {
    margin: 0px;
    font-family: "Inter", sans-serif;
    /* 颜色 */
    --primary-red: #B30E16;
    --dark: #251E1E;
    --light: #F8F6F6;

    /* boxpadding */
    .content1 {
        gap: 30px;

    }

    .box {
        width: 25%;
        padding: 35px;
    }

    /* 横的box */
    .fullwidth-box .-red {
        gap: 20px;
        padding: 15px;
        align-items: flex-start;
        background-color: var(--primary-red);
    }

    .fullwidth-box .-dark {
        gap: 20px;
        padding: 15px;
        align-items: flex-start;
        background-color: var(--dark);
    }

    /* banner */
    .hero {
        justify-items: center;
        text-align: center;
    }

    /* 按钮 */
    .btn {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        padding: 0 50px;
        border: none;
        border-radius: 20px;
        font-size: 15px;
        font-weight: 500;
        cursor: pointer;
        font-size: 18px;
    }

    .btn-dark {
        background: var(--dark);
        color: var(--light);
    }


    .btn-dark:hover {
        background: var(--primary-red);
        color: var(--light);
    }


    .btn-light {
        background: var(--light);
        color: var(--dark);
    }


    .btn-light:hover {
        background: var(--primary-red);
        color: var(--light);
    }


    .bg-red .btn-light:hover {
        background: var(--dark);
        color: var(--light);
    }

    /* 
    header */
    .logo-img {
        width: 200px;
    }

    .footer {
        padding: 15px 30px;
        background-color: var(--light);
        padding-top: 35px;
    }

    .footer-left {
        width: 30%;
    }

    .footer-right {
        width: 70%;
        display: flex;
        flex-direction: column;
        gap: 50px;
    }


    .address {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .address img {
        height: 100%;
    }

    .address p {
        margin: 0px;
        padding: 22px 0px;
    }

    .footer-middle {
        display: flex;
        gap: 10%;
    }

    .footer-menu {
        display: flex;
        justify-content: space-between;
    }

    .footer-sub {
        margin-top: 10px;
        flex-direction: column;
        display: flex;
        gap: 2px;
    }

    .footer-bottom {
        display: flex;
        justify-content: right;
    }

    .footer-bottom p {
        margin: 0px;
    }



    /* --- 字体的size --- */
    h1 {
        font-size: 52px;
    }

    h2 {
        font-size: 40px;
    }

    h3 {
        font-size: 28px;
    }

    p {
        font-size: 18px;
    }

    .desc p {
        font-size: 14px;
    }

    @media screen and (max-width: 1180px) {
        .footer-sub {
            display: none;
        }

        .footer-menu {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            gap: 40px;
            margin-top: 50px;
            width: 100%;
            align-items: center;
        }

        .footer-left {
            display: none;
        }

        .footer-middle {
            justify-content: center;
        }

        .footer-top,
        .footer-menu-bottom {
            text-align: center;
        }

        .socialmedia {
            display: flex;
            justify-content: center;
            margin-bottom: 30px;
            margin-top: 10px;
        }

        .footer-bottom {
            display: flex;
            justify-content: center;
        }

        .logo {
            display: flex;
            width: 100%;
            justify-content: center;
        }

        /* tablet */
        @media screen and (max-width: 990px) {
            h1 {
                font-size: 42px;
            }

            h2 {
                font-size: 32px;
            }

            h3 {
                font-size: 24px;
            }

            p {
                font-size: 16px;
            }

            .desc p {
                font-size: 13px;
            }


        }

        /* Mobile */
        @media (max-width: 768px) {
            h1 {
                font-size: 34px;
            }

            h2 {
                font-size: 26px;
            }

            h3 {
                font-size: 20px;
            }

            p {
                font-size: 15px;
            }

            .desc p {
                font-size: 12px;
            }

        }

    }
}