/* 字体 */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    margin: 0px;
    font-family: "Inter", sans-serif;
}

/* --- 颜色 --- */
:root {
    --primary-red: #B30E16;
    --dark: #251E1E;
    --light: #F8F6F6;
}

/* --- 字体的size --- */
h1 {
    font-size: 52px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 28px;
}

p {
    font-size: 18px;
}

.desc p {
    font-size: 14px;
}


/* 按钮 */
.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    padding: 0 50px;
    border: none;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    font-family: "Inter";
}

.btn-dark {
    background: var(--dark);
    color: var(--light);
}


.btn-dark:hover {
    background: var(--primary-red);
    color: var(--light);
}


.btn-light {
    background: var(--light);
    color: var(--dark);
}


.btn-light:hover {
    background: var(--primary-red);
    color: var(--light);
}

.red.btn-red:hover {
    background: var(--dark);
    color: var(--light);
}

/*banner*/
.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    min-height: 350px;
    color: var(--light);
    text-align: center;
}

/* content的距离 */
.content {
    padding: 40px 60px;
}

.content>div {
    margin-bottom: 60px;
}

/* boxpadding */
.box {
    width: 25%;
    padding: 35px;
    border-radius: 20px;
}

/* 横的box */
.fullwidth-box {
    display: flex;
    border-radius: 20px;
    padding: 30px;
    align-items: center;
    gap: 40px;
}

.fullwidth-box.red {
    background-color: var(--primary-red);
}

.fullwidth-box.dark {
    background-color: var(--dark);
}

/*text area and input*/
textarea,
input {
    font-family: "Oxygen", sans-serif;
    padding: 15px 15px;
    border-radius: 15px;
    border: #f5f6f6;
    background-color: #f5f6f6;
}

/* --- media query --- */
@media (max-width: 1180px) {
    h1 {
        font-size: 48px;
    }

    h2 {
        font-size: 36px;
    }

    h3 {
        font-size: 26px;
    }

    p {
        font-size: 17px;
        font-weight: 400;
    }

    .desc p {
        font-size: 14px;
    }
}

@media (max-width: 990px) {
    h1 {
        font-size: 42px;
    }

    h2 {
        font-size: 32px;
    }

    h3 {
        font-size: 24px;
    }

    p {
        font-size: 16px;
        font-weight: 400;
    }

}

/* Mobile */
@media (max-width: 768px) {
    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 22px;
        font-weight: bold;
    }

    p {
        font-size: 16px;
    }

    .desc p {
        font-size: 14px;
    }

}

/* header and footer */
a {
    text-decoration: none;
    color: #251E1E;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: var(--light);
    padding: 15px 30px;
    position: relative;
    z-index: 2001;

}

.header-middle {
    display: flex;
    gap: 100px;
    align-items: center;
}

.menu {
    display: flex;
    gap: 50px;
    width: 100%;
}

.menu .about,
.menu .services,
.artist,
.blog,
.store,
.contact {
    gap: 2px;
    display: flex;
    position: relative;
}

.submenu {
    background-color: #251E1E;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    border-radius: 16px;
    padding: 10px;
}

.submenu a {
    display: block;
    padding: 5px;
    color: #f5f6f6;
}

.services:hover .submenu,
.about:hover .submenu,
.artist:hover .submenu,
.blog:hover .submenu,
.store:hover .submenu {
    display: block;
}

.submenu:hover {
    display: block;
}

.submenu a:hover {
    background-color: #f5f6f6;
    display: block;
    border-radius: 20px;
    color: #251e1e;
}

.contact-us a {
    text-decoration: none;
    background-color: #251E1E;
    border-radius: 20px;
    padding: 10px 25px;
    color: #f5f6f6;
}

.menu-toggle {
    font-size: 2rem;
    cursor: pointer;
    display: none;
    z-index: 1001;
}


.logo-img {
    width: 200px;
}

.footer {
    padding: 15px 30px;
    background-color: #f5f6f6;
    padding-top: 35px;
}

.footer-left {
    width: 30%;
}

.footer-right {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}


.address {
    display: flex;
    align-items: center;
    gap: 10px;
}

.address img {
    height: 100%;
}

.address p {
    margin: 0px;
    padding: 22px 0px;
}

.footer-middle {
    display: flex;
    gap: 10%;
}

.footer-menu {
    display: flex;
    justify-content: space-between;
}

.footer-sub {
    margin-top: 10px;
    flex-direction: column;
    display: flex;
    gap: 2px;
}

.footer-bottom {
    display: flex;
    justify-content: right;
}

.footer-bottom p {
    margin: 0px;
}


/*footer*/
@media screen and (max-width: 1180px) {
    .footer-sub {
        display: none;
    }

    .footer-menu {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 40px;
        margin-top: 50px;
        width: 100%;
        align-items: center;
    }

    .footer-left {
        display: none;
    }

    .footer-middle {
        justify-content: center;
    }

    .footer-top,
    .footer-menu-bottom {
        text-align: center;
    }

    .socialmedia {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
        margin-top: 10px;
    }

    .footer-bottom {
        display: flex;
        justify-content: center;
    }

    .logo {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .footer-right {
        gap: 40px;
    }

}

/**header**/
@media screen and (max-width: 1180px) {

    .menu-toggle {
        display: block;
        z-index: 1001;
    }

    .menu {
        display: none;
        flex-direction: column;
        background-color: #f5f6f6;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        padding-top: 5rem;
        text-align: center;
        z-index: 1001;
        font-size: 20px;
        align-items: center;
    }

    .menu.active {
        display: flex;
    }

    .about,
    .services,
    .artist,
    .blog,
    .store,
    .contact {
        justify-content: center;
        width: 100%;
        position: relative;
    }

    .submenu {
        position: absolute;
        width: 100%;
        top: 25px;
        left: 0px;
        padding: 10px 0px;
        z-index: 1001;
        background-color: #251E1E;
        border-radius: 0px;
    }

    .submenu a:hover {
        background-color: #f5f6f6;
        display: block;
        border-radius: 20px;
    }

}