  .banner {
    background-image: url(../image/companybanner.jpg);
  }

  .content1 {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .leftside img {
    width: 100%;
  }

  .rightside {
    width: 80%;
    display: flex;
    flex-direction: column;
  }

  .rightside h3 {
    color: var(--primary-red);
    margin-bottom: 0px;
  }

  .rightside h2 {
    margin-top: 0px;
  }

  .rightside .btn {
    align-self: flex-end;
  }

  .content2 {
    display: flex;
    gap: 40px;
    align-items: center;
  }

  .leftside2 {
    width: 50%;
  }

  .leftside2 h3 {
    color: var(--primary-red);
    margin: 0px;
  }

  .leftside2 h2 {
    margin-top: 0px;
  }

  .leftside2 p {
    margin-bottom: 0px;
  }

  .rightside2 {
    width: 50%;
    display: flex;
    gap: 30px;
  }

  .box {
    color: var(--light);
    width: 100%;
    text-align: center;
  }

  .box h3 {
    margin: 0px;
  }

  .box p {
    margin-bottom: 0px;
  }

  .box.dark {
    background-color: var(--dark);
  }

  .box.red {
    background-color: var(--primary-red);
  }

  .desc p {
    text-align: left;
  }

  .content3 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .team-title {
    text-align: center;
  }

  .team-title h3 {
    color: var(--primary-red);
    margin: 0px;
  }

  .team-title h2 {
    margin-top: 0px;
  }

  .team1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    justify-items: center;
    margin-bottom: 80px;
  }

  .team2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 70%;
    justify-items: center;
  }

  .team-card {
    position: relative;
    max-width: 320px;
  }

  .team-info {
    position: absolute;
    bottom: -60px;
    left: 50%;
    transform: translateX(-50%);
    width: 75%;
    text-align: center;
    background: var(--dark);
    color: var(--light);
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 35px;
  }

  .team-info h3 {
    margin-top: 0px;
  }

  .team-info p {
    margin: 0px;
  }

  .team-card img {
    width: 100%;
  }

  .content4 {
    display: flex;
    margin-bottom: 60px;
  }

  .left {
    width: 45%;
  }

  .left img {
    width: 100%;
    height: 400px;
    border-radius: 20px;
  }

  .right {
    width: 55%;
  }

  .right h3 {
    margin: 10px;
    color: var(--primary-red);
  }

  .right-content h2 {
    margin-top: 0px;
  }

  .right-content p {
    margin-top: 0px;
  }

  .year {
    font-weight: 600;
    margin: 0px;
  }

  .right-content {
    background-color: var(--dark);
    color: var(--light);
    padding: 30px;
    border-radius: 20px;
  }

  @media (max-width: 1180px) {

    .leftside img {
      width: 100%;
    }

    .content2 {
      gap: 30px;
    }

    .rightside2 {
      gap: 20px;
    }

    .team1 {
      gap: 30px;
    }

    .team2 {
      width: 65%;
      gap: 30px;
    }
  }

  @media (max-width: 990px) {

    .content1 {
      flex-direction: column;
      text-align: center;
    }

    .leftside img {
      width: 80%;
    }

    .rightside {
      width: 100%;
      align-items: flex-start;
    }

    .rightside h3,
    .rightside p {
      margin-top: 0px;
      text-align: left;
    }

    .content2 {
      flex-direction: column;
    }

    .leftside2 {
      width: 100%;
    }

    .rightside2 {
      flex-direction: column;
      align-items: center;
      width: 93%;
    }

    .left,
    .right {
      width: 100%;
    }
  }