    .banner {
        background-image: url(../image/index-bg.jpg);
        min-height: 700px;
    }

    .content1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 60px;
    }

    .leftside {
        width: 70%;
    }

    .leftside h3 {
        color: var(--primary-red);
    }

    .rightside {
        position: relative;
        width: 30%;
    }

    .rightside .back img {
        position: relative;
        width: 50%;
        border-radius: 20px;
        height: auto;
    }

    .rightside .front img {
        position: absolute;
        width: 50%;
        border-radius: 20px;
        bottom: -20px;
        left: 110px;
        height: auto;
    }

    .content2 h3 {
        color: var(--primary-red);
    }

    .artist-container {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
    }

    .box {
        background-color: var(--dark);
        text-align: center;
    }

    .box img {
        width: 100%;
        border-radius: 20px;
    }

    .artist-name h3 {
        color: var(--light);
    }

    .desc p {
        color: var(--light);
        text-align: left;
    }

    .button {
        margin-top: 30px;
    }

    .content3 {
        margin-bottom: 0px;
    }

    .content3 h3 {
        color: var(--primary-red);
    }

    .fullwidth-box.red {
        margin-top: 30px;
    }

    .news h3 {
        color: var(--light);
        margin-top: 0px;
    }

    .news p {
        color: var(--light);
        padding: 15px 0px;
    }

    .leftimg {
        width: 40%;
    }

    .right {
        width: 60%
    }

    .leftimg img {
        width: 100%;
        border-radius: 20px;
    }

    .button1,
    .button2 {
        display: flex;
        justify-content: flex-end;
    }

    .button1 .btn-light:hover {
        background: var(--primary-red);
        color: var(--light);
    }


    .button2 .btn-light:hover {
        background: var(--dark);
        color: var(--light);
    }

    @media (max-width: 1180px) {
        .leftside {
            width: 70%;
        }

        .rightside {
            width: 30%;
            justify-content: flex-end;
        }

        .rightside .back img {
            width: 65%;
        }

        .rightside .front img {
            width: 65%;
            left: 60px;
            bottom: -50px;
        }

        .artist-container {
            gap: 30px;
        }

        .box {
            width: 30%;
            padding: 20px;
        }

        .box img {
            width: 100%;
        }

        .fullwidth-box1,
        .fullwidth-box2 {
            gap: 20px;
            padding: 15px;
            align-items: flex-start;
        }

        .button1,
        .button2 {
            margin-top: 10px;
        }
    }

    @media (max-width: 990px) {
        .content1 {
            flex-direction: column;
            gap: 30px;
        }

        .leftside {
            width: 100%;
        }

        .rightside {
            justify-content: center;
            align-items: center;
        }

        .rightside .back img {
            width: 100%;
        }

        .rightside .front img {
            width: 100%;
            bottom: -10px;
        }

        .artist-container {
            flex-direction: column;
            gap: 25px;
            align-items: center;
        }

        .box {
            width: 90%;
            padding: 30px;
        }

        .fullwidth-box {
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap: 20px;
        }

        .leftimg,
        .right {
            width: 100%;
        }

        .button1,
        .button2 {
            justify-content: center;
        }
    }

    @media (max-width: 990px) {
        .rightside {
            width: 50%;
        }
    }