    .hero-banner {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hero-banner img {
        width: 100%;
    }

    .hero-banner h1 {
        position: absolute;
        color: var(--light);
        width: 35%;
        text-align: center;
        width: fit-content;
    }

    .content1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 70px 60px;
    }

    .leftside {
        width: 60%;
    }

    .leftside h3 {
        color: var(--primary-red);
    }

    .rightside {
        position: relative;
        width: 40%;
        display: flex;
        justify-content: flex-end;
    }

    .rightside .back img {
        position: relative;
        top: -20px;
        width: 60%;
        border-radius: 20px;
    }

    .rightside .front img {
        position: absolute;
        width: 65%;
        border-radius: 20px;
        bottom: -20px;
        left: 120px;
    }

    .content2 {
        padding: 10px 60px;
    }

    .content2 h3 {
        color: var(--primary-red);
    }

    .artist-container {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
    }

    .box {
        background-color: var(--dark);
        width: 25%;
        border-radius: 20px;
        padding: 35px;
        text-align: center;
    }

    .box img {
        width: 100%;
        border-radius: 20px;
    }

    .artist-name h3 {
        color: var(--light);
    }

    .desc p {
        color: var(--light);
        text-align: left;
    }

    .button {
        margin-top: 30px;
    }

    .content3 {
        padding: 70px 60px;
    }

    .content3 h3 {
        color: var(--primary-red);
    }

    .fullwidth-box1 {
        display: flex;
        background-color: var(--primary-red);
        border-radius: 20px;
        padding: 30px;
        align-items: center;
        gap: 40px;
        margin: 30px 0px;
    }

    .fullwidth-box2 {
        display: flex;
        background-color: var(--dark);
        border-radius: 20px;
        padding: 30px;
        align-items: center;
        gap: 40px;
        margin: 30px 0px;
    }

    .news h3 {
        color: var(--light);
        margin-top: 0px;
    }

    .leftimg {
        width: 40%;
    }

    .right {
        width: 60%
    }

    .leftimg img,
    .leftimg img {
        width: 100%;
        border-radius: 20px;
    }

    .button1,
    .button2 {
        display: flex;
        justify-content: flex-end;
    }

    .button1 .btn-light:hover {
        background: var(--dark);
        color: var(--light);
    }

    .button2 .btn-light:hover {
        background: var(--primary-red);
        color: var(--light);
    }

    @media (max-width: 1180px) {

        .hero-banner h1 {
            font-size: 44px;
            width: fit-content;
        }

        .leftside {
            width: 70%;
        }

        .rightside {
            width: 30%;
            justify-content: flex-end;
        }

        .rightside .back img {
            width: 65%;
        }

        .rightside .front img {
            width: 65%;
            left: 60px;
            bottom: -50px;
        }

        .artist-container {
            gap: 30px;
        }

        .box {
            width: 30%;
            padding: 20px;
        }

        .box img {
            width: 100%;
        }

        .fullwidth-box1,
        .fullwidth-box2 {
            gap: 20px;
            padding: 15px;
            align-items: flex-start;
        }

        .button1,
        .button2 {
            margin-top: 10px;
        }

    }

    @media (max-width: 990px) {

        .content1 {
            flex-direction: column;
            gap: 30px;
        }

        .leftside {
            width: 100%;
        }

        .rightside {
            justify-content: center;
            align-items: center;
        }

        .rightside .back img {
            width: 100%;
        }

        .rightside .front img {
            width: 100%;
            bottom: -10px;
        }

        .artist-container {
            flex-direction: column;
            gap: 25px;
            align-items: center;
        }

        .box {
            width: 90%;
            padding: 30px;
        }

        .fullwidth-box1,
        .fullwidth-box2 {
            flex-direction: column;
            gap: 15px;
            padding: 30px;
            text-align: center;
        }

        .leftimg {
            width: 100%;
        }

        .right {
            width: 100%;
        }

        .button1,
        .button2 {
            justify-content: center;
        }
    }

    @media (max-width: 768px) {

        .hero-banner h1 {
            font-size: 30px;
            font-weight: bold;
        }

        .content1,
        .content2,
        .content3 {
            padding: 20px 30px;
        }


        .rightside {
            width: 50%;
        }

        .rightside .back img {
            width: 100%;
        }

        .rightside .front img {
            width: 100%;
        }

        .box {
            width: 85%;
        }

    }