.banner {
    background-image: url(../image/protfoliobanner.jpg);
}

.section1 h3 {
    color: var(--primary-red);
}

.artistdiscription {
    width: 100%;
    gap: 35px;
}

.artistcontent {
    margin-top: 10px;
    width: 70%;
}

.leehomimg {
    width: 30%;
}

.leehomimg img {
    width: 100%;
    border-radius: 20px;
}

.artistdiscription {
    display: flex;
}

.artistname h3,
.artistelement h3,
.artistelement li,
.artistelement p,
.artistcontent h3 {
    color: var(--light);

}

.artistname h3 {
    font-style: italic;
}

.button-red {
    display: flex;
    justify-content: end;
}

.section2 h3 {
    color: var(--primary-red);
}

.categorydiscription {
    display: flex;
    width: 100%;
    gap: 30px;
}

.categorycontent {
    width: 60%;
    margin-left: 30px;
    margin-right: 15px;
}

.categoryimg {
    width: 40%;
    align-items: end;
}

.categoryimg img {
    width: 100%;
    border-radius: 20px;
}

.categorycontent h2 {
    color: var(--primary-red);
}

.categorycontent h3,
.categorycontent li {
    color: var(--light);
}