body {
    background-color: var(--white);
}


.banner {
    background-image: url(../image/services.jpg);
}


.firstcontent-middle h3 {
    color: var(--primary-red);
    margin-bottom: 15px;
}

.firstcontent-middle h2,
p {
    color: var(--dark);
}

.contentbox-middle {
    display: flex;
    gap: 30px;
    margin-bottom: 30px;

}

.contentboxtwo-middle {
    display: flex;
    gap: 30px;
}

.musicproduction {
    background-image: url(../image/musicproduction.png);
}

.recordingmix {
    background-image: url(../image/recordingmix.png);
}

.musicvideoproduction {
    background-image: url(../image/musicpro.png);
}

.artistdevo {
    background-image: url(../image/artistdevo.png);
}

.songwrite {
    background-image: url(../image/songwrite.png);
}

.livesession {
    background-image: url(../image/livesession.png);
}

.musicproduction,
.recordingmix,
.musicvideoproduction,
.artistdevo,
.songwrite,
.livesession {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}

.musicproduction h3,
.recordingmix h3,
.musicvideoproduction h3,
.artistdevo h3,
.songwrite h3,
.livesession h3 {
    color: var(--light);
    width: 100%;

}

.content-middle {
    width: 60%;
    padding-right: 60px;
}

.content-middle h2 {
    color: var(--primary-red);
}

.halfround-image {
    width: 40%;
}

.halfround-image img {
    width: 85%;
}

.round-image {
    display: none;
}

.section2 {
    display: flex;
    justify-content: space-between;

}

.pointcontent {
    display: flex;
}


.pointcontent1,
.pointcontent2 {
    font-weight: bold;
    font-size: 25px;
    gap: 50px;
    justify-content: space-between;
}

.pointcontent1 li,
.pointcontent2 li {
    width: 70%;
    margin-top: 20px;
}


.section3content h3 {
    color: var(--primary-red);
}



.section3 {
    justify-content: space-between;
    margin-top: 30px;
}

.section3box {
    display: flex;
    gap: 40px;

}

.box.dark h3 {
    border-bottom: 3px solid var(--light);
    width: 100%;
    padding-bottom: 55px;

}

.box.red h3 {
    color: var(--light);
    border-bottom: 3px solid var(--light);
    width: 100%;
    padding-bottom: 23px;
}


.box {
    background-color: var(--primary-red);
    text-align: center;
    height: 450px;
    text-align: left;

}

.box.dark {
    background-color: var(--dark);
    color: var(--light);
}

.box.red p {
    color: var(--light);
    padding-bottom: 80px;
}

.box.dark p {
    color: var(--light);
    padding-bottom: 55px;
}

.section3box.button-dark .btn-light:hover {
    background: var(--dark);
    color: var(--light);
}

.section3box .button-red,
.section3box .button-dark {
    display: flex;
    justify-content: flex-end;
}

@media screen and (max-width: 1180px) {

    .contentbox-middle,
    .contentboxtwo-middle {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .section2 {
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .content-middle {
        width: 100%;
        padding-right: 0;
        text-align: center;
    }

    .pointcontent1,
    .pointcontent2 {

        align-items: center;
        width: 100%;
    }

    .pointcontent1 li,
    .pointcontent2 li {
        width: 60%;
        margin-top: 20px;
        font-size: 20px;

    }

    .round-image {
        display: block;
        width: 100%;
        justify-content: center;
    }

    .round-image img {
        width: 50%;
    }

    .halfround-image {
        display: none;
    }

    .firstcontent-middle {
        text-align: center;
    }

    .section3box {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;

    }

    .section3 .box {
        width: 100%;
    }



    @media (max-width: 990px) {
        .boxs p {
            margin-top: 70px;
        }
    }
}