body {
    background-color: var(--white);
}


.banner {
    background-image: url(../image/services.jpg);
}


.firstcontent-middle h3 {
    color: var(--primary-red);
    margin-bottom: 15px;
}

.firstcontent-middle h2,
p {
    color: var(--dark);
}

.contentbox-middle {
    display: flex;

}

.contentboxtwo-middle {
    display: flex;
}

.contentbox-middle img,
.contentboxtwo-middle img {
    width: 100%;

}

.content-middle h2 {
    color: var(--primary-red);
}


.halfround-image {
    width: 50%;
}

.halfround-image img {
    width: 85%;
}

.round-image {
    display: none;
}

.section2 {
    display: flex;
    justify-content: space-between;

}

.content-middle .box {
    display: flex;
    width: 50%;
    margin-left: 30px;
    margin-right: 60px;
}


.pointcontent1 {
    width: 100%;
}

.pointcontent1,
.pointcontent2 {
    display: flex;
    font-weight: bold;
    font-size: 25px;
    gap: 50px;
    justify-content: space-between;
}

.pointcontent1 li,
.pointcontent2 li {
    width: 70%;
    margin-top: 20px;
}


.section3content h3 {
    color: var(--primary-red);
}



.section3 {
    justify-content: space-between;
    margin-top: 30px;
}

.section3box {
    display: flex;
    gap: 40px;

}

.box.dark h3 {
    border-bottom: 3px solid var(--light);
    width: 100%;
    padding-bottom: 55px;

}

.box.red h3 {
    color: var(--light);
    border-bottom: 3px solid var(--light);
    width: 100%;
    padding-bottom: 23px;
}

.box.box.red p {
    color: var(--light);
}

.box {
    background-color: var(--primary-red);
    text-align: center;
    height: 400px;
    text-align: left;

}



.box.dark {
    background-color: var(--dark);
    color: var(--light);
}

.box.dark p {
    color: var(--light);
}

.section3box.button2 .btn-light:hover {
    background: var(--dark);
    color: var(--light);
}

@media (max-width: 1180px) {

    .contentbox-middle,
    .contentboxtwo-middle {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .section2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .firstcontent-middle {
        text-align: center;
    }

    .content-middle {
        text-align: center;
    }

    .pointcontent1,
    .pointcontent2 {
        font-size: 16px;
        align-items: center;
    }

    .pointcontent1,
    .pointcontent2 {
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .section3 {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .boxs2 p {
        margin-top: 70px;
    }

    .section3box {
        display: flex;
        flex-direction: column;
        width: 80%;
    }

    .section3box p {
        margin-top: 80px;
    }

    .round-image {
        display: block;
        width: 100%;
        text-align: center;
    }

    .round-image img {
        width: 80%;

    }

    .halfround-image {
        display: none;
    }

    @media (max-width: 990px) {
        .boxs p {
            margin-top: 70px;
        }
    }
}