body {
    background-color: var(--white);
}


.banner {
    background-image: url(../image/services.jpg);
}

.allcontent {
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 70px;
}

.firstcontent-middle h3 {
    color: var(--primary-red);
    margin-bottom: 15px;
}

.firstcontent-middle h2 {
    margin-top: 0;
}

.firstcontent-middle h2,
p {
    color: var(--dark);
}

.contentbox-middle,
.contentboxtwo-middle {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.contentbox-middle div,
.contentboxtwo-middle div {
    position: relative;

}

.contentbox-middle img,
.contentboxtwo-middle img {
    width: 100%;
    display: block;
}

.content-middle h2 {
    color: var(--primary-red);
}

.box img {
    display: block;
    width: 100%;
    height: auto;
}

.box h3 {
    position: absolute;
    top: 15px;
    left: 20px;
    padding: 5px 10px;
    color: var(--light);
    z-index: 1006;
    width: 55%;
}


.btn-light {
    position: absolute;
    bottom: 40px;
    right: 30px;

}

.contentboxtwo-middle {
    display: flex;
}

.halfround-image {
    width: 50%;
}

.halfround-image img {
    width: 85%;
}

.round-image {
    display: none;
}

.section2 {
    display: flex;
    justify-content: space-between;

}

.content-middle {
    width: 50%;
    margin-left: 30px;
    margin-right: 60px;
}

.content-middle h2 {
    margin-bottom: 15px;
}

.content-middle h1 {
    margin-top: 0;
}

.pointcontent1 {
    width: 100%;
}

.pointcontent1,
.pointcontent2 {
    display: flex;
    font-weight: bold;
    font-size: 25px;
    gap: 50px;
    justify-content: space-between;
}

.pointcontent1 li,
.pointcontent2 li {
    width: 70%;
    margin-top: 20px;
}


.section3content h3 {
    color: var(--primary-red);
}




.boxs2 h3 {
    margin-bottom: 55px;
}


.section3box {
    display: flex;
}





.button2 .btn-light:hover {
    background: var(--dark);
    color: var(--light);
}

@media (max-width: 1180px) {

    .contentbox-middle,
    .contentboxtwo-middle {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .section2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .firstcontent-middle {
        text-align: center;
    }

    .content-middle {
        text-align: center;
    }

    .pointcontent1,
    .pointcontent2 {
        font-size: 16px;
        align-items: center;
    }

    .pointcontent1,
    .pointcontent2 {
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .section3 {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .boxs2 p {
        margin-top: 70px;
    }

    .section3box {
        display: flex;
        flex-direction: column;
        width: 80%;
    }

    .section3box p {
        margin-top: 80px;
    }

    .round-image {
        display: block;
        width: 100%;
        text-align: center;
    }

    .round-image img {
        width: 80%;

    }

    .halfround-image {
        display: none;
    }

    @media (max-width: 990px) {
        .boxs p {
            margin-top: 70px;
        }
    }
}