body {
    background-color: var(--white);
}

.banner {
    width: 100%;
    display: block;
    position: relative;
}

.banner img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.bannercontent {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--light);
    z-index: 1003;
}


.allcontent {
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 70px;
}

.firstcontent-middle h3 {
    color: var(--primary-red);
    margin-bottom: 15px;
}

.firstcontent-middle h2 {
    margin-top: 0;
}

.firstcontent-middle h2,
p {
    color: var(--dark);
}

.contentbox-middle,
.contentboxtwo-middle {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.contentbox-middle div,
.contentboxtwo-middle div {
    position: relative;

}

.contentbox-middle img,
.contentboxtwo-middle img {
    width: 100%;
    display: block;
}

.content-middle h2 {
    color: var(--primary-red);
}

.box img {
    display: block;
    width: 100%;
    height: auto;
}

.box h3 {
    position: absolute;
    top: 15px;
    left: 20px;
    padding: 5px 10px;
    color: var(--light);
    z-index: 1006;
    width: 55%;
}

.box {
    position: relative;
    margin-bottom: 40px;
}

.btn-light {
    position: absolute;
    bottom: 40px;
    right: 30px;

}

.contentboxtwo-middle {
    display: flex;
}

.halfround-image {
    width: 50%;
}

.halfround-image img {
    width: 85%;
}

.round-image {
    display: none;
}

.section2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.content-middle {
    width: 50%;
    margin-left: 30px;
    margin-right: 60px;
}

.content-middle h2 {
    margin-bottom: 15px;
}

.content-middle h1 {
    margin-top: 0;
}

.pointcontent1 {
    width: 100%;
}

.pointcontent1,
.pointcontent2 {
    display: flex;
    font-weight: bold;
    font-size: 25px;
    gap: 50px;
    justify-content: space-between;
}

.pointcontent1 li,
.pointcontent2 li {
    width: 70%;
    margin-top: 20px;
}

.section3 {
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.section3content h2 {
    margin-top: 15px;
}

.section3content h3 {
    color: var(--primary-red);
    margin-bottom: 0;
}

.section3content p {
    margin-bottom: 60px;
}

.boxs {
    background-color: var(--primary-red);
    border: 2px var(--primary-red);
    text-align: left;
    position: relative;
    padding: 20px 30px;
    height: 550px;
    width: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

.boxs h3,
.boxs2 h3,
.boxs3 h3 {
    color: var(--light);
    padding-bottom: 20px;
    margin-bottom: 10px;
    margin: 0;
    width: 55%;
}

.boxs2 h3 {
    margin-bottom: 55px;
}

.boxs3 h3 {
    margin-bottom: 11px;
}

.boxs p,
.boxs2 p,
.boxs3 p {
    color: var(--light);
    margin-bottom: 60px;
}

.boxs p {
    margin-top: 40px;
}

.section3box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    justify-content: center;
    gap: 30px;
}

.boxs.btn-light,
.boxs2.btn-light {
    position: absolute;
}

.underline {
    color: var(--light);
    border-bottom: 2px solid;
    width: 100%;
    margin: 0 auto;
}

.boxs .underline,
.boxs2.underline.boxs3.underline {
    position: absolute;
    top: 170px;
    left: 30px;
    width: 90%;
    border-bottom: 2px solid var(--light);
    margin-top: 10px;
}

.boxs2 {
    background-color: var(--dark);
    border: 2px var(--dark);
    text-align: left;
    position: relative;
    padding: 20px 30px;
    height: 550px;
    width: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

.boxs3 {
    background-color: var(--primary-red);
    border: 2px var(--primary-red);
    text-align: left;
    position: relative;
    padding: 20px 30px;
    height: 550px;
    width: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

.button2 .btn-light:hover {
    background: var(--dark);
    color: var(--light);
}

@media (max-width: 1180px) {

    .contentbox-middle,
    .contentboxtwo-middle {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .section2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }



    .firstcontent-middle {
        text-align: center;
    }

    .firstcontent-middle h3 {
        font-size: 25px;
    }

    .firstcontent-middle h2 {
        font-size: 36px;
    }

    .firstcontent-middle p {
        font-size: 16px;
    }

    .content-middle {
        text-align: center;
    }

    .content-middle h2 {
        font-size: 36px;
    }

    .content-middle h3 {
        font-size: 25px;
    }

    .pointcontent1,
    .pointcontent2 {
        font-size: 16px;
        align-items: center;
    }

    .pointcontent1,
    .pointcontent2 {
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .section3 {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .section3content h2 {
        font-size: 36px
    }

    .section3content h3 {
        font-size: 25px;
    }

    .section3content p {
        font-size: 16px;
    }

    .box h3,
    .boxs2 h3,
    .boxs3 h3 {
        font-size: 25px;
    }

    .boxs p,
    .boxs2 p,
    .boxs3 p {
        font-size: 16px;
    }

    .boxs2 h3 {
        margin-bottom: 10px;

    }

    .boxs2 p {
        margin-top: 70px;
    }

    .section3box {
        display: flex;
        flex-direction: column;
        width: 80%;
    }

    .section3box p {
        margin-top: 80px;
    }

    .round-image {
        display: block;
        width: 100%;
        text-align: center;
    }

    .round-image img {
        width: 80%;

    }

    .halfround-image {
        display: none;
    }
}