body {
    background-color: var(--white);
}

.banner {
    width: 100%;
    display: block;
    position: relative;
}

.banner img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.bannercontent {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--light);
    z-index: 1003;
}


.allcontent {
    margin-left: 60px;
    margin-right: 60px;
}

.firstcontent-middle h3 {
    color: var(--primary-red);
}

.firstcontent-middle h2,
p {
    color: var(--dark);
}

.contentbox-middle,
.contentboxtwo-middle {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.contentbox-middle div,
.contentboxtwo-middle div {
    position: relative;

}

.contentbox-middle img,
.contentboxtwo-middle img {
    width: 100%;
    display: block;
}

.box img {
    display: block;
    width: 100%;
    height: auto;
}

.box h3 {
    position: absolute;
    top: 15px;
    left: 20px;
    padding: 5px 10px;
    color: var(--light);
    z-index: 1006;
    width: 55%;
}

.box {
    position: relative;
    margin-bottom: 40px;
}

.btn-light {
    position: absolute;
    bottom: 40px;
    left: 30px;

}

.contentboxtwo-middle {
    display: flex;
}

.halfround-image {
    width: 50%;
}

.halfround-image img {
    width: 85%;
}

.secondcontent-middle {
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.content-middle {
    width: 50%;
    margin-left: 30px;
    margin-right: 60px;

}

.pointcontent1 {
    width: 100%;
}

.pointcontent1,
.pointcontent2 {
    display: flex;
    font-weight: bold;
    font-size: 25px;
    gap: 50px;
    justify-content: space-between;
}

.pointcontent1 li,
.pointcontent2 li {
    width: 70%;
    margin-top: 20px;
}