.banner {
    background-image: url(../image/weekndbanner.jpg);
}

/* section1 */
.section1 h3 {
    color: var(--primary-red);
}

.projectdetails {
    display: flex;
    width: 100%;
}

.projectimg {
    width: 40%;
}

.projectimg img {
    width: 90%;

}

.projectcontent {
    width: 50%;
    padding-left: 30px;
    padding-right: 60px;
    margin-top: 20px;
}

.projectcontent h3 {
    color: var(--dark);
}

/* section1 projectcontent*/
.artistname h3 {
    font-style: italic;
    color: var(--primary-red);
}

.covercontent h3 {
    color: var(--primary-red);
    margin-bottom: 0;
}

.theme h3 {
    color: var(--primary-red);
    margin-bottom: 0;
}

.boldcontent p {
    font-weight: bold;
}

.mobileprojectimg {
    display: none;
}

/* section2 */
.section2 h2 {
    color: var(--primary-red);
}

.behindimg {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.behindimg div {
    width: 32%;

}

.behindimg img {
    width: 100%;
    border-radius: 20px;
    height: auto;
    display: block;
}

/* section3 */
.section3 h2 {
    color: var(--primary-red);
}

.songlist {
    width: 100%;
    display: flex;
    gap: 20px;
}

.songimg {
    width: 15%;
}

.songimg img {
    width: 80%;
    border-radius: 20px;
}

.songcontent {
    width: 75%;
    align-items: center;
    color: var(--light);
}

.songcontent h3 {
    margin-bottom: 0;
}

.songcontent p {
    margin-top: 4px;
}

.fullwidth-box {
    margin-bottom: 20px;
}

/* section4*/
.section4 h2 {
    color: var(--primary-red);
}

.full-lyrics {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.song-lyrics {
    width: 100%;
    color: var(--light);
    padding-bottom: 20px;
}

.song-lyrics h3 {
    margin-bottom: 5px;
    margin-top: 15px;
}

.firstpart-lyrics,
.secondpart-lyrics {
    width: 40%;
    padding-right: 65px;
    gap: 20px;
    justify-content: space-between;

}

.verse p {
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 15px;
}

/* section5 */
.artist-albumn {
    width: 100%;
    display: flex;
    gap: 30px;
}

.firstartist-albumn,
.secondartist-albumn {
    justify-content: center;
    width: 50%;
    gap: 25px;
}

.artist-box {
    display: flex;
    width: 100%;
    height: 150px;
    border-radius: 20px;
    align-items: center;
    margin-bottom: 30px;
}

.artist-songimg {
    width: 25%;
    margin: 0 20px;
}

.artist-songimg img {
    width: 70%;
    border-radius: 20px;
    text-align: center;
}

.artist-songcontent {
    width: 65%;
    color: var(--light);

}

.artist-songcontent h3 {
    margin-bottom: 0;
}

.artist-songcontent p {
    margin-top: 4px;
}

.dark {
    background-color: var(--dark);
}

.red {
    background-color: var(--primary-red);
}

.songimg,
.artist-songimg {
    flex-shrink: 0;
}

.card {
    /* animation */
    animation: reveal 1s ease-out both;
    animation-timeline: view();
    animation-range: entry 20% cover 30%;
}

@keyframes reveal {
    0% {
        opacity: 0;
        filter: blur(5px);
        transform: translateY(80px);
    }

    30% {
        filter: blur(0px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


@media screen and (max-width: 1180px) {

    /* section1 */
    .projectdetails {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .mobileprojectimg {
        display: block;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 100%;
        align-items: center;
    }

    .mobileprojectimg img {
        width: 70%;
    }

    .projectimg {
        display: none;
    }

    /* section2 */
    .behindimg {
        width: 100%;
    }

    .behindimg div {
        width: 45%;
    }

    /* section3 */
    .fullwidth-box {
        flex-direction: column;
    }

    .songlist {
        width: 100%;

    }

    .songimg {
        width: 25%;
        display: flex;
        justify-content: center;
    }

    .songimg img {
        width: 70%;
    }

    .songcontent {
        width: 50%;
        padding-top: 20px;
        width: 100%;
        align-items: center;
    }

    /* section4 */
    .full-lyrics {
        width: 100%;

    }

    /* section5 */
    .artist-box {
        width: 100%;
    }

    .artist-songimg {
        width: 35%;
    }

    .artist-songimg img {
        width: 70%;
        border-radius: 20px;
    }

    .artist-songcontent {
        width: 55%;
    }
}

@media (max-width: 990px) {

    /* section1 */
    .projectcontent {
        width: 90%;
        padding: 20px;
        margin-top: 10px;
    }

    .mobileprojectimg img {
        width: 60%;
    }

    /* section2 */
    .behindimg div {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .behindimg img {
        width: 80%;
    }

    /* section3 */
    .fullwidth-box {
        flex-direction: column;
    }

    .songlist {
        flex-direction: column;
    }

    .songimg {
        width: 100%;
        display: flex;
    }

    .songimg img {
        width: 100%;
        height: auto;
    }

    .songcontent {
        padding-top: 20px;
        width: 100%;
    }

    /* section4 */
    .full-lyrics {
        flex-direction: column;
        align-items: center;
    }

    .firstpart-lyrics,
    .secondpart-lyrics {
        width: 100%;
        padding-right: 0;
    }

    /* section5 */
    .artist-albumn {
        flex-direction: column;
        width: 93%;
        text-align: center;
    }

    .firstartist-albumn,
    .secondartist-albumn {
        width: 100%;
        height: auto;
        gap: 30px;
    }

    .artist-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        height: auto;
    }

    .artist-songimg {
        width: 100%;
        display: flex;
    }

    .artist-songimg img {
        width: 100%;
        border-radius: 20px;
        margin: 0 auto;
    }

    .artist-songcontent {
        width: 100%;

    }
}