.banner {
    background-image: url(../image/singleprojectbanner.jpg);
}

/* section1 */
.section1 h3 {
    color: var(--primary-red);
}

.projectdetails {
    display: flex;
    width: 100%;
}

.projectimg {
    width: 40%;
}

.projectimg img {
    width: 90%;

}

.projectcontent {
    width: 50%;
    padding-left: 30px;
    padding-right: 60px;
    margin-top: 20px;
}

/* section1 projectcontent*/
.artistname h3 {
    font-style: italic;
    color: var(--primary-red);
}

.covercontent h3 {
    color: var(--primary-red);
    margin-bottom: 0;
}

.theme h3 {
    color: var(--primary-red);
    margin-bottom: 0;
}

.boldcontent p {
    font-weight: bold;
}

.mobileprojectimg {
    display: none;
}

/* section2 */
.section2 h2 {
    color: var(--primary-red);
}

.behindimg {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.behindimg div {
    width: 32%;

}

.behindimg img {
    width: 100%;
    border-radius: 20px;
    height: auto;
    display: block;
}

/* section3 */
.section3 h2 {
    color: var(--primary-red);
}

.songlist {
    width: 100%;
    display: flex;
    gap: 20px;
}

.songimg {
    width: 15%;
}

.songimg img {
    width: 80%;
    border-radius: 20px;
}

.songcontent {
    width: 75%;
    align-items: center;
    color: var(--light);
}

.songcontent h3 {
    margin-bottom: 0;
}

.songcontent p {
    margin-top: 4px;
}

.fullwidth-box {
    margin-bottom: 20px;
}

/* section4*/
.section4 h2 {
    color: var(--primary-red);
}

.full-lyrics {
    width: 100%;
    display: flex;
}

.song-lyrics {
    width: 100%;
    color: var(--light);
    padding-bottom: 20px;
}

.song-lyrics h3 {
    margin-bottom: 5px;
    margin-top: 15px;
}

.firstpart-lyrics,
.secondpart-lyrics {
    width: 40%;
    padding-right: 65px;
    gap: 20px;
    justify-content: space-between;

}

.verse p {
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 15px;
}