.banner {
    background-image: url(../image/singleprojectbanner.jpg);
}

/* section1 */
.section1 h3 {
    color: var(--primary-red);
}

.projectdetails {
    display: flex;
    width: 100%;
}

.projectimg {
    width: 40%;
}

.projectimg img {
    width: 90%;

}

.projectcontent {
    width: 50%;
    padding-left: 30px;
    padding-right: 60px;
    margin-top: 20px;
}