  .banner {
      background-image: url(../image/teambg.jpg);
  }

  .content1 {
      display: flex;
      align-items: center;
      gap: 40px;
  }

  .leftside {
      width: 65%;
  }

  .leftside img {
      width: 100%;
      border-radius: 20px;
  }

  .rightside {
      flex-direction: column;
  }

  .rightside h3 {
      color: var(--primary-red);
      margin: 0px;
  }

  .rightside h2 {
      margin-top: 0px;
  }