/*banner*/
.banner {
    background-image: url(../image/tylerbanner.jpg);
}

/*font-color*/
.white {
    color: var(--light);
}

.red-word {
    color: var(--primary-red);
}

/*content*/
.content-padding {
    padding: 0px 60px;
}

.no-margin {
    margin: 0px;
    padding-top: 10px;
}

/*section1*/
.mobile-image {
    display: none;
}

.section1 {

    display: flex;
    justify-content: space-between;
    align-items: center
}

.content-right {
    width: 100%;
}

.content-right img {
    width: 100%;
}

.content-right {
    padding-left: 100px;
}

/*section1 message*/
.right-middle {
    margin-top: 50px;
}

.message {
    display: flex;

}

.bold {
    font-weight: 700;
}

.message p {
    margin: 0px;
    padding: 5px 0px;
}



@media screen and (max-width: 1180px) {

    /*section1*/
    .content-right {
        padding-left: 10px;
    }

    .right-bottom,
    .mobile-image {
        justify-content: center;
    }
}

/*section2*/
@media screen and (max-width: 990px) {}

@media screen and (max-width: 768px) {

    /*section1*/
    .section1 {
        display: flex;
        flex-direction: column;
    }

    .right-first,
    .section2-header {
        text-align: center;
    }

    .content-right {
        display: none;
    }

    .mobile-image {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }

    .mobile-image img {
        width: 70%;
    }

    .right-middle {
        display: flex;
        margin-top: 30px;
        flex-wrap: wrap;
        justify-content: center;
    }


}

@media screen and (max-width: 650px) {}