/*banner*/
.banner {
    background-image: url(../image/tylerbanner.jpg);
}

/*font-color*/
.white {
    color: var(--light);
}

.red-word {
    color: var(--primary-red);
}

/*content*/
.content-padding {
    padding: 0px 60px;
}

.no-margin {
    margin: 0px;
    padding-top: 10px;
}

/*section1*/
.mobile-image {
    display: none;
    justify-content: center;
    margin-bottom: 10px;
}

.mobile-image img {
    width: 70%;
}

.section1 {

    display: flex;
    justify-content: space-between;
    align-items: center
}

.content-right {
    width: 100%;
}

.content-right img {
    width: 100%;
}

.content-right {
    padding-left: 100px;
}

/*section1 message*/
.left-middle {
    margin-top: 50px;
}

.message {
    display: flex;

}

.bold {
    font-weight: 700;
}

.message p {
    margin: 0px;
    padding: 5px 0px;
}

/*section5*/
.fullwidth-box {
    box-sizing: border-box;
}

.news-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.fullwidth-box .left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.fullwidth-box {
    display: flex;
    width: 100%;
}

.fullwidth-box .left {
    width: 40%;

}

.fullwidth-box .right {
    width: 60%;
}

.button1,
.button2 {
    display: flex;
    justify-content: flex-end;
}




@media screen and (max-width: 1180px) {

    /*section1*/
    .content-right {
        padding-left: 10px;
    }
}


@media screen and (max-width: 990px) {}

@media screen and (max-width: 768px) {

    /*section1*/
    .section1 {
        display: flex;
        flex-direction: column;
    }

    .left-first,
    .section2-header {
        text-align: center;
    }

    .content-right {
        display: none;
    }

    .mobile-image {
        display: flex;
    }



    .left-middle {
        display: flex;
        margin-top: 30px;
        flex-wrap: wrap;
        justify-content: center;
    }

    /*section5*/
    .fullwidth-box {
        display: flex;
        width: 100%;
        flex-direction: column;
    }

    .fullwidth-box .left,
    .fullwidth-box .right {
        width: 100%;

    }


}

@media screen and (max-width: 650px) {}