/*banner*/
.banner {
    background-image: url(../image/tylerbanner.jpg);
}

/*font-color*/
.white {
    color: var(--light);
}

.red-word {
    color: var(--primary-red);
}

/*content*/
.content-padding {
    padding: 0px 60px;
}

.no-margin {
    margin: 0px;
    padding-top: 10px;
}

.image-border {
    border-radius: 20px;
}

/*section1*/
.mobile-image {
    display: none;
    justify-content: center;
    margin-bottom: 10px;
}

.mobile-image img {
    width: 70%;
}

.section1 {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.content-right {
    width: 100%;
}

.content-right img {
    width: 100%;
}

.content-right {
    padding-left: 100px;
}

/*section1 message*/
.left-middle {
    margin-top: 50px;
}

.message {
    display: flex;

}

.bold {
    font-weight: 700;
}

.message p {
    margin: 0px;
    padding: 5px 0px;
}

/*section2*/
.news-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.fullwidth-box .left img {
    width: 100%;
}

.fullwidth-box {
    display: flex;
    width: 100%;
    box-sizing: border-box;
}

.fullwidth-box .left {
    width: 30%;

}

.fullwidth-box .right {
    width: 70%;
}



/*section3*/
.hitsong-container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.hitsong img {
    width: 80%;
}

.margin-bottom {
    margin-bottom: 0px;
}


.button1 {
    display: flex;
    justify-content: flex-end;
}


.hitsong {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: calc(100% / 3);
}


/*section4*/
.award-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.button2 .btn-light:hover {
    background: var(--dark);
    color: var(--light);
}

.award-container p {
    margin: 0px;
}


@media screen and (max-width: 1180px) {

    /*section1*/
    .content-right {
        padding-left: 10px;
    }
}

@media screen and (max-width: 990px) {

    /*section3*/
    .hitsong-container {
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .hitsong {
        width: 40%;
    }
}

@media screen and (max-width: 768px) {

    /*section1*/
    .section1 {
        display: flex;
        flex-direction: column;
    }

    .left-first,
    .section2-header,
    .center {
        text-align: center;
    }

    .content-right {
        display: none;
    }

    .mobile-image {
        display: flex;
    }

    .left-middle {
        display: flex;
        margin-top: 30px;
        flex-wrap: wrap;
        justify-content: center;
    }

    /*section2*/
    .fullwidth-box {
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: 20px;
    }

    .fullwidth-box .left,
    .fullwidth-box .right {
        width: 100%;
    }

    /*section3*/
    .hitsong {
        width: 40%;
    }

}

@media screen and (max-width: 650px) {
    .hitsong-container {
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .hitsong {
        width: 100%;
    }
}